/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    background: url(../images/fruity-background-compressed.jpg) no-repeat center center/cover;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
    justify-content: center;
    text-align: center;
}

.heading {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    font-family: 'Ubuntu mono', monospace;
    font-size: large;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    color: red;
    background-color: white;
    font-weight: bold;
    border-color: green;
    border: solid 0.2em;
    margin: 0.4em;
}

button:hover {
    color: white;
    background-color: green;
    border: none;
}

input {
    height: 40px;
    width: 20px;
    font-size: 2rem;
    font-family: 'Ubuntu mono', monospace;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border-color: red;
}

select {
    height: 40px;
    width: 50px;
    font-size: 2rem;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border-color: red;
    border: solid 0.1em;
}

.answer-area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: 0 10px;
}

.question-area {
    font-size: 1.4rem;
    margin: 10px 0;
}

.guess1,
.guess2,
.guess3 {
    font-size: 2rem;
    margin: 10px 0;
    background-color: transparent;
}

#guess1,
#guess2,
#guess3 {
    background-color: transparent;
}

.pane {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamemode-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px;
}

footer {
    margin-left: 10px;
    margin-bottom: 1rem;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: green;
    font-weight: bold;
}

button:disabled {
    border-color: grey;
    color: grey;
}

.error-message {
    color: red;
}

/* Override default styles added by the browser */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fa-square-minus {
    color: red;
}

.fa-square-plus {
    color: green;
}

div.answer-area div {
    border: solid 1px;
    border-color: green;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

button.selected {
    background-color: green;
    border-color: green;
    color: white;
}

div.answer-area div span {
    font-family: Verdana, sans-serif;
}